body {
  background: dimgray;
  color: white;
  padding: 0;
  margin: 0;
}

.main {
  background: #121212;
  margin: 5px;
  margin-bottom: 1px;
}
.main div {
  padding-top: 25px;
}

.name {
  font-size: 35px;
  font-weight: bold;
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 0;
}

.name-tag {
  color: dimgray;
  font-size: 15px;
  margin-left: 15px;
}

.short-description {
  margin-left: 15px;
  color: gray;
  margin-bottom: 55px;
  font-size: 20px;
}

.today-title {
  color: white;
  font-weight: bold;
  margin-left: 15px;
  font-size: 25px;
}

.description {
  margin-left: 15px;
  color: gray;
  font-size: 20px;
}

.contacts-title {
  color: white;
  font-weight: bold;
  margin-left: 15px;
  font-size: 25px;
}

.contact-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0;
  margin-bottom: 55px;
  font-size: 20px;
}

.contact-list a {
  color: dimgrey;
  text-decoration: none;
  list-style: none;
  transition: ease-in .5s;
}

.contact-list a:hover {
  text-decoration: underline;
  color: gray;
}

.project-section {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #C4C4C4;
}

.projects-title {
  color: white;
  font-weight: bold;
  margin-left: 15px;
  font-size: 25px;
}

.projects-list {
  list-style: none;
}

.projects-header {
  color: lightgray;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  transition: ease-in .5s;
}

.projects-header:hover {
  color: dimgray;
  text-decoration: underline;
}

.projects-description {
  color: gray;
  font-size: 20px;
  text-align: center;
}

.projects-links {
  text-decoration: none;
  color: dimgray;
  margin-bottom: 55px;
  text-align: center;
  transition: ease-in .5s;
}

.projects-links:hover {
  font-weight: bold;
  color: white;
}

.projects-row {
  margin-bottom: 105px;
  border-radius: 10px;
  margin-right: 30px;
  padding: 15px 10px 15px 10px;
  box-shadow: 6px 6px 12px #111111, -6px -6px 12px #131313;
  text-align: center;
  transition: ease-in .5s;
}

.projects-row:hover {
  box-shadow: 6px 6px 12px #090909, -6px -6px 12px #161616;
}

.social-title {
  color: white;
  font-weight: bold;
  margin-left: 15px;
  font-size: 25px;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0;
  margin-bottom: 55px;
}

.social-list a {
  color: dimgrey;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}

.social-list a:hover {
  text-decoration: underline;
  color: gray;
}

.post-title {
  color: white;
  font-weight: bold;
  margin-left: 15px;
  font-size: 25px;
}

.footer {
  background: #1D1D20;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.footer-title {
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.footer-description {
  color: gray;
  font-size: 15px;
}

.footer-links {
  padding: 10px;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

.footer-links a {
  text-decoration: none;
}

.footer-buttons {
  color: dimgray;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: ease-in .5s;
}

.footer-buttons:hover {
  box-shadow: 6px 6px 12px #141414, -6px -6px 12px #171717;
  color: gray;
  text-decoration: underline;
}

.footer-copyright {
  font-size: 15px;
  color: dimgray;
}

/* TERMS OF SERVICE CSS*/

.tos-title {
  font-size: 35px;
  font-weight: bold;
  margin: 15px;
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
}

.tos-short-description {
  color: gray;
  text-align: center;
}

.tos-date {
  font-size: 15px;
  text-align: center;
  color: dimgray;
}

.tos-containers {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3px;
}

.tos-container {
  margin: 15px;
  height: 300px;
  width: 300px;
}

.tos-container-header {
  color: lightgray;
  text-align: center;
}

.tos-container-description {
  color: gray;
  text-align: center;
}